.example-container{
  width: @panel*2;
  height: @item-height*3.2;
  margin: 20px auto;
  margin-top:95px;
  background: #fff;
  padding: 10px;
  font-size: 20px;
  color: #666;
}
.example{
  margin-bottom: @halfpad;
  height: @item-height*1,2;
  border: 1px dotted #D1D0CE;
  #new_text{
    height: 150px;
  }
}