.example-container{
  width: @panel*2;
  height: @item-height*3.2;
  margin: 20px auto;
  margin-top:95px;
  background: #fff;
  padding: 10px;
  font-size: 20px;
  color: #666;
}
.example{
  margin-bottom: @halfpad;
  height: @item-height*1,2;
  border: 1px dotted #D1D0CE;
  #new_text{
    height: 150px;
  }
}
#new_img{
  height: 210px;
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto
}
#new_title{
  font: 40px "Brush Script MT";
}
#new_text{
  font: 16px "Lucida Calligraphy";
}
#new_author{
  float: right;
  font: 20px "Lucida Calligraphy";
}