<div class="col-sm-6 col-md-4 image_for_card">
    <p><img id="new_img" src= <%= card.icon %> </p>
        <input class="chosen_image_for_card btn btn-danger" id="chosen_image_for_card" type="button" value="Ok"/>
</div>